@charset "utf-8";

/* CSS Document */
body {
    background-color: #e4e4e4;
    background-image: url();
    background-repeat: repeat;
    background-position: center top;
}
/*main-captionを右寄せに*/
.main-caption {
    text-align: right;
}

/*h2を真ん中に*/
h2 {
    text-align: center;
}




