@charset "utf-8";

/* CSS Document */
body {
    background-color: #e4e4e4;
    background-image: url();
    background-repeat: repeat;
    background-position: center top;
}

/*headerのfloatをleftにする*/
header-inner {
    float: left;
}
/*h1の右にheader-captionを配置*/
h1 {
    float: left;
}





/*h2を真ん中に*/
h2 {
    text-align: center;
}




